**/**/target/*
.idea/*
.swp
*.swp
**/**/.DS_Store
**/**/.idea/*
sifir-android/outputs/**
sifir-ios/outputs/**
sifir-ios/scripts/custom/**a
# android builds
sifir-android/src/ffi/java_glue.rs
sifir-android/outputs/aar/**
sifir-android/app/tor/src/main/java/com/sifir/**
