**/**/target/*
.idea/*
.swp
*.swp
**/**/.DS_Store
**/**/.idea/*
sifir-android/outputs/**
sifir-ios/outputs/**
sifir-ios/scripts/custom/**
./sifir-android/src/ffi/java_glue.rs
./sifir-android/outputs/aar/**
